<style>
    .event_1, .event_2, .event_3{
        display: inline-block;
        visibility: hidden;
        width: 250px;
        height: 350px;
        margin-right: 34px;
        position: relative;
        top: 77px;
        left: 60px;
        padding-bottom: 50px;
        background-color: rgba(199, 0, 57, 0.9);
        z-index: 5;
        padding: 80px 20px 20px 30px;
        text-align: center;   
        font-size: 18px;
    }
</style>
<div class="activo" id="eventos">
    <div class="event_1">
        <p style="font-size: 16px;"><strong>Festiroble Aniversario!</strong></p>
        <p><strong>27 de Octubre • 20 hs</strong></p>
        <p>La Comunidad el Sótano • Nicasio Oroño 2480, CABA</p>
        <a href="https://www.facebook.com/events/1820403567988980/">• facebook •</a>
    </div>
    <div class="event_2">
        <p style="font-size: 16px;"><strong>ACAB Tattoo Studio • FLASH DAY</strong></p>
        <p><strong>14 de Octubre • 13 hs</strong></p>
        <p>• Gorriti 3436, CABA</p>
        <a href="https://www.facebook.com/events/173320889888494/">• facebook •</a>
    </div>
    <div class="event_3">                            
        <p style="font-size: 16px;"><strong>Tattoo y Circo</strong></p>
        <p><strong>4 de Noviembre • 16 hs </strong></p>
        <p>Avalon Casa Cultural • Pringles 511, CABA</p>
        <a href="https://www.facebook.com/events/273993789778885/">• facebook •</a>
    </div>
</div>