<style>
    .event_1, .event_2, .event_3{
        display: inline-block;
        visibility: hidden;
        width: 250px;
        height: 350px;
        margin-right: 34px;
        position: relative;
        top: 69px;
        left: 59px;
        padding-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 5;
        padding: 80px 20px 20px 30px;
        text-align: center;   
    }
</style>
<div class="activo" id="eventos">
    <div class="event_1">
        <p style="font-size: 16px;"><strong>11° CONVENTION DE TATOUAGE</strong></p>
        <p><strong>7 8 y 9 de Octubre</strong></p>
        <p>Beaujoire</p>
        <a href="https://facebook.com/tattoo">• facebook •</a>
    </div>
    <div class="event_2">
        <p style="font-size: 16px;"><strong>11° CONVENTION DE TATOUAGE</strong></p>
        <p><strong>7 8 y 9 de Octubre</strong></p>
        <p>Beaujoire</p>
        <a href="https://facebook.com/tattoo">• facebook •</a>
    </div>
    <div class="event_3">                            
        <p style="font-size: 16px;"><strong>11° CONVENTION DE TATOUAGE</strong></p>
        <p><strong>7 8 y 9 de Octubre</strong></p>
        <p>Beaujoire</p>
        <a href="https://facebook.com/tattoo">• facebook •</a>
    </div>
</div>