<!-- TEMPLATE FOOTER -->

<div>
    <p>2017 | WEB PAGE<br/>Página dedicada a tatuadores; su exposición, valoración y contacto<br/><a href="#">Centro de ayuda</a> | <a href="#">Condiciones</a><br/><a href="mailto:erica_lafuente@hotmail.com"><img src="img/arroba.png" alt="email" class="redes"></a> | <a href="https://twitter.com/_ro0m1" target="_blank">ro0m1</a> | <a href="https://github.com/eridef"><img src="img/github.png" alt="github" class="redes"></a></p>
</div>