<!-- TEMPLATE NAV -->

<nav> 
    <div id="title">
        <h2>Nombre de la página</h2>
    </div>
    <div id="links">
        <a href="#home" class="home">Home</a>
        <a href="#artist" class="artist">Artistas</a>
        <a href="#style">Estilos</a>
    </div>
    <div id="search">
        <form action="/home/:id" method="post" style="display:inline-block;">
            <input type="search" name="search" id="busqueda" placeholder="Buscar..."/>
            <button id="submit" type="submit"><img src="img/icon.png" alt="buscar" title="buscar"/></button> <!-- if input is hidden show input else submit --> 
        </form>
    </div>
</nav>