@font-face {
    font-family: 'Great Vibes';
    src: url('/font_head/greatvibes-regular.ttf');
  }
@font-face{
    font-family: 'Josefin Slab';
    src: url('/font_body/josefinslab-semibold.ttf');
}
body{
    background-color: #e1e2de;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
    letter-spacing: 2px;
}
nav{
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 5;
    padding-left: 40px;
}
#title{
    display: inline-block;
    width: 25%;
    height: 50px;
    font-family: 'Great Vibes', cursive;
    text-shadow: 5px 0px 3px #958282;
}
#links{
    display: inline-block;
    width: 45%;
    word-spacing: 60px;
    text-align: center;
    height: 50px;
    position: absolute;
    top: 0;
}
#links a{
    text-decoration: none;
    color:  #C70039;
    font-size: 18px;
    padding-right: 20px;
    position: relative;
    top: 20px;
}
#links a:hover{
    text-decoration: underline;
}
#search{
    display: inline-block;
    width: 25%;
    position: absolute;
    left: 1000px;
    top: 15px;
}
#search form{
    margin-right: 20px;
}
#busqueda{
    border: 1px solid #c3c0c0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    height: 30px;
    width: 240px;
    margin-right: 10px;
    text-align: center;
}
#busqueda:hover{
    color: #C70039;
    box-sizing: border-box;
    border: 1px solid #C70039;
}
#submit{
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
#submit img{
    border-radius: 10px;
    opacity: 0.5;
}
#encabezado{
    background-image: url(/img/03.jpg);
    background-attachment: fixed;
    background-position: absolute;
    height: 680px;
    margin-top: 0px;
    padding-top: 120px;
    text-align: center;
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 150px;
    word-spacing: 15px;
    color: black;
    text-shadow: 5px 0px 3px #958282;
}
header a{
    text-decoration: none;
    color: #958282;
}
#header{
    position: relative;
    top: 180px;
    font-weight: 900;
}
#header h3:hover{
    color: #958282;
}
#left{
    display: inline-block;
    width: 25%;
    position: relative;
    left: 25px;
    top: 0px;
}

.news{
    border: 1px solid #c3c0c0;
    margin-top: 20px;
    background-color: whitesmoke;
    padding-bottom: 30px;
}
.post{
    background-color: whitesmoke;
    width: 300px;
    position: relative;
    top: 60px;
    left: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.post h4{
    text-align: center;
    margin-top: 20px;
}
.post p{
    display: inline-block;
    width: 55%;
    padding-left: 30px;
}
.profile{
    border-radius: 50px;
    vertical-align: middle;
}
aside{
    position: relative;
    top: 90px;
    left: 15px;
}
#principal{
    display: inline-block;
    background-color: #e1e2de;
    width: 70%;
    position: absolute;
    right: 25px;
    top: 680px;   
}
.titulo{
    width: 65%;
    height: 130px;
    display: inline-block;
    margin-left: 40px;
    padding: 20px 0px 20px 40px;
    border-top: 1px solid #c3c0c0;
    border-right: 1px solid #c3c0c0;
    position: relative;
    top: 10px;
}
.titulo h4{
    font-size: 22px;
}
.date{
    width: 29%;
    height: 98px;
    display: inline-block;
    font-size: 16px;
    padding: 30px 0px 0px 30px;
    border-top: 1px solid #c3c0c0;
    position: relative;
    top: 10px;
    left: -6px;
}
.date a{
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #C70039;
}
.date a:hover{
    text-decoration: underline;
}
.item img{
    margin: 20px 0 10px 100px;
}
.item a{
    color: #C70039;
}
.style{
    position: relative;
    top: 20px;
    height: 700px;
}
#myCarousel{
    left: 50px;
    right: 20px;
    width: 900px;
    margin-top: 30px;
    margin-bottom: 40px;
}
h4{
    font-size: 22px;
}
.events{
    position: relative;
    top: 20px;
    height: 600px;
}
#event_1, #event_2, #event_3{
    display: inline-block;
    width: 30%;
    position: relative;
    top: -320px;
    left: 60px;
    padding-bottom: 50px
}
footer{ /*probar box shadow*/
    background-color: rgba(255, 255, 255, 0.6);
    width: 1320px;
    text-align: center;
    line-height: 25px;
    margin-right: 60px;
    padding-top: 70px;
    position: absolute;
    top: 3050px;
    height: 250px;
    font-size: 20px;
}
footer a{
    text-decoration: none;
    color:  #367150;
    
}
footer a:hover{
    color: whitesmoke;
}
footer img{
    vertical-align: middle;
    border-radius: 30px;
}
