.container{
	background-color: black;
}
#menu{
	margin-bottom: 40px;
}
.menu{
	text-align: right;
}
/*.menu a:hover{
	color: purple;
	font-style: none;
}*/
#modal p{
	margin-left: 30px;
}
.forma{
	margin-bottom: 12px;
}
input, textarea,select, button{
	border-radius: 30px;
}
footer{
	text-align:center;
}