body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    background-color: #fff;
}
.back{
    background-color: #0ebb73;
    height: auto;
}
.back a{
    padding: 15px;
    text-decoration: none;
    color: #85f6c7;
    text-align: right;
}
.back hr{
    color: #0ebb99;
}
h1{
    font-family: Courier New, Courier, monospace;
    font-size: 40px;
    width: 30%;
    border-left: 1px solid grey;
    padding-left: 20px;
    margin-left: 30px;
    display: inline-block;
}
.description{
    width: 40%;
    display: inline-block;
    font-size: 14px;
}
.description a{
    text-decoration: none;
    color: green;
}
p{
    width: 50%;
    border: 1px solid #85f6c7;
    margin: 40px 0 30px 40px;
    padding: 30px;
    letter-spacing: 2px;
    text-align: justify;
}
.programacion{
    width: 45%;
    display: inline-block;
    margin: 0 0 0 20px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.programacion li{
    font-family: Courier New, Courier, monospace;
}
.contacto{
    width: 100%;
    margin: 30px 0 0 20px;
    padding: 30px;
}
input, textarea{
    margin: 0 0 10px 15%;
    padding-left: 15px;
    border-radius: 5px;
    border: 2px solid #85f6c7;
}
input{
    height: 30px;
}
textarea{
    padding-top: 15px;
}
#boton{
    width: 100px;
    height: 40px;
    background-color: #85f6c7;
    color: limegreen;
    cursor: pointer;
}
#boton:hover{
    background-color: white;
    color: limegreen;
}
#pie{
    box-shadow: 5px 0px 5px 0px #999;
    width: 100%;
    padding: 20px 200px;
    word-spacing: 20px;
    position: absolute;
    bottom: -500px;
}
#pie>img{
    border-radius: 10px;
    vertical-align: top;
}
#pie ul{
    display: inline-block;
}
.left{
    display: inline-block;
}
.left a{
    font-size: 16px;
    text-decoration: none;
    color: #85f6c7;
}