<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Página Integrada</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row" id="menu">
			<div class="col-md-8 col-md-offset-1">
				<img src="img/header.jpg">
			</div>
			<div class="col-md-2 menu">
				<a href="#">Galeria</a></br>
				<a href="#">Quiénes somos</a></br>
				<a class="menu" href="#news">Escribinos</a>
			</div> <!-- para el nav estoy pensando usar bootstrap-->
		</div>

		<main>
			<section id="imagen">
				<img id="slider" src="img/slider.png" data-img= "img/brujas.jpg">
			</section>
			<section class="row" id="modal">

			<div class="col-md-5 col-md-offset-1">
				<a class="img_peque" href="#" data-toggle="modal" data-target="#myModal" data-img="modal1.jpg"><img src="img/modal0.jpg"></a>
			</div>

				<p class="col-md-4">Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s Elemental Law of Transfiguration. Magic Nagini bezoar, Hippogriffs Headless Hunt giant squid petrified. Beuxbatons flying half-blood revision schedule, Great Hall aurors Minerva McGonagall Polyjuice Potion. Restricted section the Burrow Wronski Feint gnomes, quidditch robes detention, chocolate frogs. Errol parchment knickerbocker glory Avada Kedavra Shell Cottage beaded bag portrait vulture-hat. Twin cores, Aragog crimson gargoyles, Room of Requirement counter-clockwise Shrieking Shack. Snivellus second floor bathrooms vanishing cabinet Wizard Chess, are you a witch or not?</p>

			</section>


			<!-- prueba de slide-->

			<section class="row" id="modal">

			<div class="col-md-5 col-md-offset-1">
				<a class="img_peque" href="#" data-toggle="modal" data-target="#myModal" data-img="modal1.jpg"><img src="img/modal0.jpg"></a>
			</div>

				<p class="col-md-4">Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s Elemental Law of Transfiguration. Magic Nagini bezoar, Hippogriffs Headless Hunt giant squid petrified. Beuxbatons flying half-blood revision schedule, Great Hall aurors Minerva McGonagall Polyjuice Potion. Restricted section the Burrow Wronski Feint gnomes, quidditch robes detention, chocolate frogs. Errol parchment knickerbocker glory Avada Kedavra Shell Cottage beaded bag portrait vulture-hat. Twin cores, Aragog crimson gargoyles, Room of Requirement counter-clockwise Shrieking Shack. Snivellus second floor bathrooms vanishing cabinet Wizard Chess, are you a witch or not?</p>

			</section>

			<section class="row" id="modal">

			<div class="col-md-5 col-md-offset-1">
				<a id="news" href="#" data-toggle="modal" data-target="#myModal" data-img="modal1.jpg"><img src="img/modal0.jpg"></a>
			</div>

				<p class="col-md-4">Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s Elemental Law of Transfiguration. Magic Nagini bezoar, Hippogriffs Headless Hunt giant squid petrified. Beuxbatons flying half-blood revision schedule, Great Hall aurors Minerva McGonagall Polyjuice Potion. Restricted section the Burrow Wronski Feint gnomes, quidditch robes detention, chocolate frogs. Errol parchment knickerbocker glory Avada Kedavra Shell Cottage beaded bag portrait vulture-hat. Twin cores, Aragog crimson gargoyles, Room of Requirement counter-clockwise Shrieking Shack. Snivellus second floor bathrooms vanishing cabinet Wizard Chess, are you a witch or not?</p>

			</section>

			<!--fin de prueba-->


		</main>

		<div class="row">
		<form class="col-md-6 col-md-offset-1" id="contacto" method="post" action="mailto:erica_dale01@hotmail.com">
			
			<h3 class="col-md-12"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Escribinos</h3>

			<input class="col-md-12 forma" type="text" name="username" placeholder="Nickname">
			<input class="col-md-12 forma" type="email" name="email" placeholder="Email">
			<!-- no tengo pensado utilizar estos input pero son de gran utilidad, los atributos type time y date tiene funcion en bootstrap y jquery<input type="date" name="calendario">
			<input type="time" name="hora">-->
			<select id="seleccion" class="col-md-12 forma" name="topico"> <!--multiple="true" si quiero elegir mas de un tema-->
				<!--<option value="a">uno</option>
				<option value="b">uno</option>
				<option value="c">uno</option>
				<option value="d">uno</option>-->
			</select> <!--tópico del mensaje-->
			<textarea class="col-md-12 forma" cols="50" rows="1" placeholder="..." value="mensaje" name="mensaje"></textarea>

			<button type="button" id="enviar">OK</button>
			<button type="button" id="borrar">Borrar</button>

		</form>
		</div>

		<div id="enlaces">
			<a href="https://facebook.com"></a> <!--pretendo que los enlaces sean con imagenes-->
			<a href="https://twitter.com"></a>
			<a href="https://youtube.com"></a>
		</div>

		<footer>
			<p>Realizada por ro0m1 | grupo X | ADA ITW | 2017</p>
		</footer>
	</div>
	
	<!--Modal-->
		
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  			<div class="modal-dialog" role="document">
	    			<div class="modal-content">
	      				<div class="modal-header">
	        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      				</div>
	     				<div class="modal-body"><img id="img_grande" src=""></div>
	      				<!-- no lo necesito de momento <div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        			<button type="button" class="btn btn-primary">Save changes</button>
	     				 </div> -->
	    			</div>
	 			 </div>
			</div>

			<!--Fin Modal-->

	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/brujas.js"></script>
</body>
</html>